{{#typing}}
from typing import {{typing}}

{{/typing}}
version: int

T = TypeVar("T")

class MapIndexingSuiteEntry(Generic(T)):
	def data(self) -> T: ...
	def key(self) -> str: ...

class TranslatableItems(Generic(T)):
	def __contains__(self, index: str) -> bool: ...
	def __delitem__(self, index: str) -> None: ...
	def __getitem__(self, index: str) -> T: ...
	def __setitem__(self, index: str, object: T) -> None: ...
	def __iter__(self) -> Iterator[MapIndexingSuiteEntry[T]]: ...
	def __len__(self) -> int: ...

class Translatable(Generic(T)):
	items: TranslatableItems[T] = ...
	def find(self, index: str) -> T: ...
	def update(self, index: str, value: T) -> bool: ...
{{#enums}}

class {{name}}(int):
{{#items}}
	{{items}}: ClassVar[{{name}}] = ...
{{/items}}
{{?items}}

{{/items}}
	values: ClassVar[dict[int, str]] = ...
	names: ClassVar[dict[str, int]] = ...
	name: str = ...
{{/enums}}
{{#interfaces}}

{{#synthetic}}
# synthetic
{{/synthetic}}
class {{name}}{{#inheritance}}({{inheritance}}){{/inheritance}}:
{{#attributes}}
	{{name}}: {{type}} = ...
{{/attributes}}
{{#operations}}
{{#staticmethod}}
	@staticmethod
{{/staticmethod}}
{{#classmethod}}
	@classmethod
{{/classmethod}}
{{#property}}
	@property
{{/property}}
	def {{name}}({{\}}
{{#arguments}}{{name}}{{#type}}: {{type}}{{/type}}{{^last}}, {{/last}}{{/arguments}}{{\}}
	){{\}}
	{{#type}} -> {{type}}{{/type}}: ...
{{/operations}}
{{^synthetic}}
	def clone(self) -> {{name}}: ...
{{/synthetic}}
{{/interfaces}}

class crew_builder:
	class cat:
		cast: ClassVar[crew_builder.cat] = ...
		directors: ClassVar[crew_builder.cat] = ...
		writers: ClassVar[crew_builder.cat] = ...

		values: ClassVar[dict[int, str]] = ...
		names: ClassVar[dict[str, int]] = ...
		name: str = ...

	def add(self, kind: crew_builder.cat, full_name: str, ref: Optional[str], contribution: Optional[str]) -> None: ...
	def apply(self, info: movie_info) -> None: ...
