[submodule "tools/coveralls"]
	path = tools/coveralls
	url = https://github.com/mbits-libs/coveralls.git
[submodule "external/args"]
	path = external/args
	url = https://github.com/mbits-libs/args.git
[submodule "external/nowide"]
	path = external/nowide
	url = https://github.com/boostorg/nowide.git
