extensions:
  - proj_flow.ext.cplusplus
  - proj_flow.ext.github
  - proj_flow.ext.sign
  - proj_flow.ext.store
  - proj_flow.ext.test_runner
  - proj_flow.ext.tools
  - proj_flow.ext.webidl
  - quick_dra.icons
  - quick_dra.yaml_reader
  - quick_dra.test_coverage

entry:
  config: [Conan, CMake]
  build: [Build]
  test: [Build, Test]
  verify:
    - Build
    - Test
    - Sign
    - Pack
    - SignPackages
    - Store
    - BinInst
    - DevInst

compiler:
  names:
    clang: [clang, clang++]
    gcc: [gcc, g++]
  os-default: { ubuntu: gcc, windows: msvc }

postproc:
  exclude:
    - { github_os: ubuntu-24.04, sanitizer: true }
  include:
    - { os: ubuntu, gcc_ver: 13 }
    - { github_os: ubuntu-24.04, gcc_ver: 14 }
    - { github_os: ubuntu-26.04, gcc_ver: 15 }

cmake:
  vars:
    QUICK_DRA_SANITIZE: "?config:sanitizer"
    QUICK_DRA_COVERALLS: "?config:coverage"
    QUICK_DRA_W_ERROR: "?config:w-error"

package:
  main-group: apps

shortcuts:
  dbg: { build_type: Debug, sanitizer: false }
  rel: { build_type: Release, sanitizer: false }
  clangd: { build_type: Debug, sanitizer: false, compiler: clang }
  clang: { build_type: Release, sanitizer: false, compiler: clang }
  both: { build_type: [Debug, Release], sanitizer: false }
  sane: { build_type: Debug, sanitizer: true }

test:
  target: QUICK_DRA_coveralls

test-runner:
  target: qdra
  report_env: QDRA_
  install: [cli]
  testsuite:
    root: libs/cli/tests
    data: data
    default-set: main
  patches: {}
