extensions:
  - proj_flow.ext.cplusplus
  - proj_flow.ext.sign
  - proj_flow.ext.store
  - proj_flow.ext.github
  - proj_flow.ext.webidl
  - quick_dra.icons
  - quick_dra.yaml_reader

entry:
  config: [Conan, CMake]
  build: [Build]
  test: [Build, Test]
  verify:
    - Build
    - Test
    - Sign
    - Pack
    - SignPackages
    - Store
    - BinInst
    - DevInst

compiler:
  names:
    clang: [clang, clang++]
    gcc: [gcc, g++]
  os-default: { ubuntu: gcc, windows: msvc }

postproc:
  exclude:
    - { github_os: ubuntu-24.04, sanitizer: true }

cmake:
  vars:
    QUICK_DRA_SANITIZE: "?config:sanitizer"

package:
  main-group: apps

shortcuts:
  dbg: { build_type: Debug, sanitizer: false }
  rel: { build_type: Release, sanitizer: false }
  both: { build_type: [Debug, Release], sanitizer: false }
  sane: { build_type: Debug, sanitizer: true }
